.yyt-xx-tishi{
            opacity:0.69;
            background:#000000;
            color:#ffffff;
            border-radius:5px;
            position: fixed;
            top: 400px;
            height: 0.8rem;
            line-height:0.8rem; 
            text-align: center;
            width: 3rem;
            height: 0.8rem;
            font-size: .32rem;
        }